<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    .top_bottom {
    background-color: #1d1d1d;
	float: left;
	width: 100%;
	height: 130px;
    }
    .baner_font {
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
	font-size:40px;
	color:#ffffff;
	font-weight: bold;
}
</style>
</head>
<body>
<table class="top_bottom">
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
  <td align="center" width="35%"><div class="baner_font">OMServer</div></td>
  <td><div>
      <div>
          <select>
              <option value="-1">text</option>
          </select>
      </div>
  </div></td>
  </tr>
  <tr>

  </tr>
</table>
</body>
</html>